@using PRCR.Models;
@model AuthenticationModel

@{
    Layout = "~/Views/Shared/_Layout_Authentication.cshtml";
    ViewBag.Title = "Login";
}


<div class="login-box">
    <div class="login-logo">
        <a href="javascript:void(0);"><b>IT Issue Tracker</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="@Url.Action("Login", "Authentication")" method="post" id="frmLogin">
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.EmpCode, new { @class = "form-control", @placeholder = "UserId" })
                <span class="fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control", @placeholder = "Password" })
                <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="row">
               @* <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox">
                            Remember Me
                        </label>
                    </div>
                </div>*@
                <!-- /.col -->
                <div class="col-xs-12">
                    <button onclick="return funRequestLogin();" class="btn btn-primary btn-block btn-flat pull-right">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>


        <!-- /.social-auth-links -->

        @*<a href="#">I forgot my password</a><br>
        <a href="register.html" class="text-center">Register a new membership</a>*@

    </div>
    <!-- /.login-box-body -->
</div>

<script>
    function funRequestLogin() {

        if (($("#EmpCode").val() == null || $("#EmpCode").val() == "" || $("#EmpCode").val() == undefined) &&
            $("#Password").val() == null || $("#Password").val() == "" || $("#Password").val() == undefined) {
            toastr.warning("Enter Credential!");
            return false;
        }
        else if ($("#EmpCode").val() == null || $("#EmpCode").val() == "" || $("#EmpCode").val() == undefined) {
            toastr.warning("Enter UserId!");
            return false;
        }
        else if ($("#Password").val() == null || $("#Password").val() == "" || $("#Password").val() == undefined) {
            toastr.warning("Enter Password!");
            return false;
        } 
    }

    $(document).ready(function () {
        if ('@ViewBag.Result' == "INVALID") {
            toastr.warning("Invalid Credential!");
        }
    });
</script>
