@using PRCR.Models;
@model UserRoleMappingModel

@{
    Layout = "~/Views/Shared/_Layout_Authentication.cshtml";
    ViewBag.Title = "UserRole";
}

<style>
    body.login-page {
        /*height: 100%;*/
        background-color: #ffffff;
    }

    section.content {
        width: 70%;
        margin: 7% auto;
    }
    button {
        width:100%;
    }
</style>

<section class="content">
    <div class="row">
        @using (Html.BeginForm("UserRole", "Authentication", FormMethod.Post, new { @class = "" }))
        {
            if (Model.IsAdmin)
            {
            <div class="col-md-2">
                <button type="submit" name="submit" value="Admin" class="btn btn-app bg-navy">
                    <i class="fa fa-user-secret"></i>Admin
                </button>
            </div>
            }
            if (Model.IsConsultant)
            {
            <div class="col-md-2">
                <button type="submit" name="submit" value="Consultant" class="btn btn-app bg-navy">
                    <i class="fa fa-user"></i>Consultant
                </button>
            </div>
            }
            if (Model.IsITDeveloper)
            {
            <div class="col-md-2">
                <button type="submit" name="submit" value="IT Developer" class="btn btn-app bg-navy">
                    <i class="fa fa-connectdevelop"></i>IT Developer
                </button>
            </div>
            }
            if (Model.IsBasisConsultant)
            {
            <div class="col-md-2">
                <button type="submit" name="submit" value="Basis Consultant" class="btn btn-app bg-navy">
                    <i class="fa fa-user"></i>Basis consultant
                </button>
            </div>
            }
            if (Model.IsHOD)
            {
            <div class="col-md-2">
                <button type="submit" name="submit" value="HOD" class="btn btn-app bg-navy">
                    <i class="fa fa-user"></i>HOD
                </button>
            </div>
            }
            if (Model.IsEndUser)
            {
            <div class="col-md-2">
                <button type="submit" name="submit" value="End User" class="btn btn-app bg-navy">
                    <i class="fa fa-user"></i>End User
                </button>
            </div>
            }
        }


    </div>
</section>

<div class="col-md-12">
    <!-- Application buttons -->
    <div class="">
        @*<div class="box-header">
            <h3 class="box-title"></h3>
        </div>*@
        <div class="">
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
